* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  margin: 0;
  color: #7B7A7F;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.side-wrapper {
  background-color: #354052;
}

.top-side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 10px;
  border-bottom: 2px solid #2D384A;
}

.nav-main,
.nav-admin {
  border-bottom: 2px solid #2D384A;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.profile-name {
  color: #939EB0;
}

ul {
  padding: 0 0 20px;
}

.aside-header {
  margin: 15px 0 0 10px;
  color: #596679;
  font-size: 12px;
}

.side-link:hover {
  color: #FFFFFF;
}

.side-nav-icon {
  height: 25px;
  padding: 0 35px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}

#aside-home {
  background-image: url('assets/home.svg');
}

#aside-home:hover {
  background-image: url('assets/icon.svg');
}

#aside-jobs {
  background-image: url('assets/briefcase.svg');
}

#aside-jobs:hover {
  background-image: url('assets/briefcase (1).svg');
}

#aside-resume {
  background-image: url('assets/resume.svg');
}
#aside-resume:hover {
  background-image: url('assets/resume (1).svg');
}

#aside-tasks {
  background-image: url('assets/list.svg');
}

#aside-tasks:hover {
  background-image: url('assets/list (1).svg');
}

#aside-calendar {
  background-image: url('assets/calendar.svg');
}

#aside-calendar:hover {
  background-image: url('assets/calendar (1).svg');
}

#aside-users {
  background-image: url('assets/users.svg');
}

#aside-users:hover {
  background-image: url('assets/users (1).svg');
}

#aside-locations {
  background-image: url('assets/facebook-placeholder-for-locate-places-on-maps.svg');
}

#aside-locations:hover {
  background-image: url('assets/placeholder (1).svg');
}

#aside-workflows {
  background-image: url('assets/network.svg');
}

#aside-workflows:hover {
  background-image: url('assets/network (1).svg');
}

#aside-job-boards {
  background-image: url('assets/newspaper.svg');
}

#aside-job-boards:hover {
  background-image: url('assets/newspaper (1).svg');
}

#aside-social {
  background-image: url('assets/share (1).svg');
}

#aside-social:hover {
  background-image: url('assets/share-symbol.svg');
}

.side-link {
  display: flex;
  align-items: center;
  color: #939EB0;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.aside-category {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.checkbox {
	-webkit-appearance: none;
  display: block;
  margin: 10px;
	padding: 8px;
  position: relative;
	border-radius: 1px;
  cursor: pointer;
  outline: none;
}

#yellow-box {
  background-color: #FBE303;
}

#blue-box {
  background-color: #2AB0FB;
}

#red-box {
  background-color: #EC1B62;
}

#green-box {
  background-color: #00AA88;
}

.checkbox:checked:after {
  position: absolute;
  top: 0px;
  left: 2px;
	content: '\2714';
  color: #000000;
	font-size: 14px;
  outline: none;
}

.checkbox-label {
  color: #939EB0;
  font-size: 14px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-nav {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C2C2C2;
}

.left-icon-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #C2C2C2;
}

.icon-btn {
  height: 100%;
  width: 75px;
  border: none;
  background-color: inherit;;
  background-repeat: no-repeat;
}

#menu-btn {
  background-image: url(assets/menu.svg);
  background-position: 50%;
  background-size: cover;
}

#menu-btn:hover {
  background-color: #16A0F5;
  cursor: pointer;
}

.search-container {
  flex-grow: 1;
  background-image: url(assets/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 30px;
}

.search-bar {
  width: 90%;
  margin-left: 50px;
  padding: 30px 0;
  border: 0 solid;
  outline: none;
  color: #6C6D72;
  font-size: 16px;
}

::placeholder {
  padding: 25px;
  color: #C2C2C2;
  font-size: 16px;
}

#short-search {
  display: none;
}

.right-icon-container {
  height: 100%;
  display: flex;
}

#user {
  background-image: url('assets/user-male-black-shape-with-plus-sign.svg');
}

#calendar {
  background-image: url('assets/calendar-and-clock.svg');
}

#dots {
  background-image: url('assets/dot-matrix.svg');
}

#expand{
  display: none;
  background-image: url('assets/dot-matrix.svg');
}

#user,
#calendar,
#dots,
#expand {
  border-left: 1px solid #C2C2C2;
  background-position: 20px;
  background-size: 50%;
}

#user:hover,
#calendar:hover,
#dots:hover {
  background-color: #16A0F5;
  cursor: pointer;
}

.middle-header {
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 0;
  padding: 20px 25px 10px;
  font-size: 32px;
  font-weight: 400;
}

.location {
  padding: 0 45px;
  background-image: url('assets/location-fill.svg');
  background-repeat: no-repeat;
  background-position: 25px;
  background-size: 15px;
}

header p {
  margin-top: 0;
  padding: 0 25px 20px;
  color: #C2C2C2;
}

.preview {
  padding: 0 5px;
  color: #6CC5F5;
  text-decoration: none;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.open {
  height: 35px;
  width: 80px;
  margin: 10px;
  padding-left: 20px;
  border: 2px solid #DEE3E9;
  border-radius: 17px;
  background-image: url(assets/circle.svg);
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 10px;
  color: #6C6D72;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.ribbon,
.edit,
.delete {
  margin: 10px;
  padding: 15px;
  border: 2px solid #DEE3E9;
  border-radius: 100%;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15px;
  cursor: pointer;
}

.ribbon {
  background-image: url(assets/bookmark-ribbon.svg);
}

.edit {
  background-image: url('assets/pencil-edit-button (3).svg');
}

.delete {
  background-image: url(assets/delete.svg);
}

.lower-nav {
  padding-bottom: 25px;
}

.nav-link {
  margin-left: 25px;
  color: #C2C2C2;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  padding-bottom: 20px;
  border-bottom: 5px solid #16A0F5;
  color: #6C6D72;
}

#more {
  display: none;
}

main {
  background-color: #EDF2F6;
}

.graph-container {
  height: 350px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.circle-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle-chart {
  width: 175px;
  height: 175px;
  display: inline-block;
  margin: 10px;
  border: 10px solid grey;
  border-radius: 100%;
  text-align: center;
}

#applicants {
  border-color: #43B9BD #D9E3E9 #43B9BD #43B9BD;
}

#interviews {
  border-color: #D9E3E9 #D9E3E9 #16A0F5 #19A0F5;
}

#forwards {
  border-color: #D9E3E9 #D9E3E9 #B364B2 #D9E3E9;
}

.circle-number {
  margin-bottom: 0;
  padding: 20px 25px 0;
  font-size: 35px;
  font-weight: bold;
}
.circle-text {
  margin: 0 10px 40px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.bar-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bar-chart {
  width: 425px;
}

.circle-btn {
  flex: 0 1 40%;
  margin-top: 25px;
}

.chart-btn {
  flex: 0 1 40%;
  text-transform: uppercase;
}

.circle-btn,
.chart-btn {
  height: 40px;
  border: 2px solid #DEE3E9;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #6C6D72;
  font-size: 12px;
  font-weight: bold;
}

span {
  text-transform: uppercase;
}

.line-break {
  display: flex;
  align-items: center;
}

.collapse-btn{
  padding: 15px;
  border: 2px solid #DEE3E9;
  border-radius: 100px;
  background-image: url('assets/up-arrow.svg');
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15px;
  cursor: pointer;
}

hr {
  width: 45%;
  border-top: 1px solid #DEE3E9;
  border-bottom: 1px solid #DEE3E9;

}

.bottom-container {
  display: flex;
  padding: 10px;
}

.table-container {
  padding: 25px;
}

table {
  padding: 25px;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

thead {
  background-color: #6F7E95;
  color: #FFFFFF;
}

.top-row {
  border: none;
}

.table-btn {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  padding-left: 30px;
  border: none;
  background-color: #7B8BA5;
  background-image: url('assets/pencil-edit-button (2).svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}

tr {
  width: 90%;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #D9E3E9;
}

.row-title {
  min-width: 200px;
  font-weight: 500;
  text-transform: uppercase;
}

td {
  padding: 27px 0;
  font-size: 20px;
}

.description {
  line-height: 150%;
}

.table-photo {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  border-radius: 100%;
}

#michael-scott {
  display: flex;
  align-items: center;
}

.salary {
  margin-bottom: 40px;
  font-weight: bold;
}

.bottom-row {
  border: none;
}

.aside-right {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0 0;
}

.social-media-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#facebook,
#twitter,
#linkedin {
  width: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 50%;
  background-size: 25px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

#facebook {
  background-color: #4B6EC1;
  background-image: url('assets/facebook-logo.svg');
}

#twitter {
  background-color: #01AAEF;
  background-image: url('assets/twitter-logo-silhouette.svg');
}

#linkedin {
  background-color: #037FBD;
  background-image: url('assets/linkedin-logo.svg');
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-link,
.button-widget,
.upload-resume {
  padding-bottom: 50px;
  border-bottom: 2px solid #D9E3E9;
}

.connect-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

h2 {
  padding-top: 25px;
  font-size: 20px;
  font-weight: 500;
}

.connect-text {
  line-height: 150%;
}

.link-container {
  width: 250px;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid #D9E3E9;
  border-radius: 3%;
  color: #6C6D72;
  font-size: 16px;
  text-overflow: ellipsis;
}

#email {
  width: 350px;
  height: 50px;
  margin-bottom: 20px;
}

.copy {
  width: 100px;
  height: 50px;
  border-radius: 3%;
  border-style: none;
  background-color: #42BBBD;
  color: #FFFFFF;
  font-size: 16px;
}

.input-container {
  display: flex;
}

.upload-resume {
  border: none;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1250px) {
  td {
    padding: 25px 0;
  }
  .graph-container {
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  .circle-chart-container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .circle-chart {
    width: 200px;
    height: 200px;
  }
  .circle-btn {
    margin: 0 50px;
  }
  .bar-chart-container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  #bar-chart {
    width: 600px;
  }
  .chart-btn {
    margin: 40px 100px 0;
  }
  .bottom-container {
    flex-direction: column;
  }
  .aside-right {
    flex-direction: column;
    padding: 25px;
  }
  .social-media-container {
    height: 250px;
    justify-content: space-around;
  }
  #facebook,
  #twitter,
  #linkedin {
    width: 100%;
    align-items: center;
  }
  .job-link,
  .button-widget,
  .upload-resume {
    width:100%;
    padding-bottom: 30px;
  }
  h2 {
    padding-top: 15px;
  }
  .job-link {
    margin-top: 20px;
  }
  .link-container {
    width: 90%;
  }
  #email {
    width: 100%;
  }
  .facebook,
  .twitter,
  .linkedin {
    margin: 0 200px 0 100px;
  }
}

@media screen and (max-width: 1050px) {
  .search-bar {
    padding: 30px 0;
  }
  #facebook,
  #twitter,
  #linkedin {
    width: 90%;
    align-items: center;
  }
  .facebook,
  .twitter,
  .linkedin {
    margin: 0 150px 0 50px;
  }
  .job-link,
  .button-widget,
  .upload-resume {
    width: 90%;
  }
  #notifications {
    display: none;
  }
  #more {
    display: inline;
  }
  .circle-chart-container {
    justify-content: center;
  }
  .bottom-container {
    align-items: center;
  }
  .table-container {
    width: 90%;
  }
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row-title {
    padding-bottom: 10px;
    text-align: center;
  }
  .description {
    text-align: center;
  }
  #michael-scott {
    flex-direction: column;
    padding-top: 0;
  }
  .table-photo {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 0;
  }
  td {
    padding: 20px 0;
  }
  .salary {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 990px) {
  .middle-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p.location {
    text-align: center;
    background-position: 130px;
    margin: 5px 0;
  }
  .title{
    margin: 0;
  }
  #broadcast{
    display: none;
  }
  #bar-chart{
    width: 440px;
    height: 220px;
  }
  .circle-chart{
    height: 150px;
    width: 150px;
  }
  .circle-number{
    padding: 0 25px 0;
  }
  .circle-btn{
    margin-top: 40px;
  }
  .circle-chart-container,
  .bar-chart-container{
    height: auto;
  }
  .graph-container{
    padding: 0;
    height: 650px;
  }
}

@media screen and (max-width: 850px){
  #long-search {
    display: none;
  }
  #short-search {
    display:inline-block;
  }
  #activity{
    display: none;
  }
  .facebook,
  .twitter,
  .linkedin {
    margin: 0 100px 0 25px;
  }
  .search-bar{
    width:70%;
  }
}

@media screen and (max-width: 735px){
  .side-wrapper{
    display: none;
  }
  #activity{
    display: inline;
  }
}

@media screen and (max-width: 650px){
  #activity{
    display: none;
  }
  #expand{
    display: inline;
  }
  #dots,
  #user,
  #calendar {
    display: none;
  }
}

@media screen and (max-width: 550px){
  #nav-interviews {
    display: none;
  }
  .aside-right,
  .table-container{
    padding: 5px;
  }
  td{
    font-size: 16px;
  }
  .table-btn {
    width: 90px;
    height: 35px;
    margin: 0 5px;
    background-size: 17px;
    font-size: 18px;
  }
  #nav-interviews {
    display: none;
  }
  .circle-chart-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px 0;
  }
  .graph-container{
    height: auto;
  }
  .title{
    font-size: 26px;
  }
  p.location{
    background-position: 85px ;
  }
  #bar-chart{
    width: 315px;
    height: 180px;
  }
  .circle-btn,
  .chart-btn {
    margin: 10px 20px;
  }
}
@media screen and (max-width: 470px){
  #job-board{
    display: none;
  }
  td {
    padding: 20px 10px;
    /*text-align: center;*/
  }
  .facebook,
  .twitter,
  .linkedin {
    margin: 0 20px 0 25px;
  }
  .title{
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .location{
    font-size: 12px;
  }
p.location{
    background-position: 55px;
    background-size: 12px;
  }
}
